<nav class="navbar">
  <div class="navbar-container">
    <div class="navbar-brand">
      <img src="assets/logo" alt="" class="logo-primary">
      <div class="vertical-divider"></div>
      <img src="assets/logo" alt="" class="logo-secondary">
    </div>

    <ul class="navbar-links">
      <li><a routerLink="/who-we-are" routerLinkActive="active-link">Who We Are</a></li>
      <li class="dropdown">
        <a routerLinkActive="active-link">Investments Offerings</a>
        <ul class="dropdown-menu">
          <li><a routerLink="/curring-projects">Curring Projects</a></li>
          <li><a routerLink="/case-studies-projects">Case Studies Projects</a></li>
          <li><a routerLink="/incoming-projects">Incoming Projects</a></li>
        </ul>
      </li>
      <li><a routerLink="/learn-about-us" routerLinkActive="active-link">Learn About Us</a></li>
    </ul>

    <div class="navbar-actions">
      <a routerLink="/contact-us" class="btn-contact">Contact Us</a>
      <a routerLink="/login" class="btn-contact">Login</a>
    </div>
  </div>
</nav>