<div class="private-wrapper">
  <aside class="sidebar">
    <div class="brand">
      <img src="assets/logo-vertical.png" alt="Logo" class="logo-v">
    </div>

    <nav class="navigation">
      <a routerLink="/projects" routerLinkActive="active" class="nav-link">
        Projects
      </a>
      <a routerLink="/config" routerLinkActive="active" class="nav-link">
        Configuration
      </a>
    </nav>

    <footer class="sidebar-footer">
      <button class="btn-exit" (click)="logout()">Cerrar Sesión</button>
    </footer>
  </aside>
</div>