<div class="current-offerings-container">

  <section class="hero-banner">
    <div class="hero-content" data-aos="zoom-in" data-aos-duration="1000">
      <h1>CURRENT PROJECTS</h1>
    </div>
  </section>

  <section class="description-section">
    <div class="content-grid">
      <div class="text-content" data-aos="fade-right" data-aos-delay="200">
        <p class="subtitle">Our current portfolio includes active residential developments and high-potential
          property transformations. Each project is carefully selected based on location, market
          demand, and projected returns, ensuring strong performance and investor confidence.</p>
      </div>

      <div class="image-content" data-aos="fade-left" data-aos-delay="400">
        <img src="curring-projects/construction.webp" alt="Construction Site" class="main-image shadow-effect">
      </div>
    </div>
  </section>

  <section class="projects-portfolio">
    <div class="project-tabs-container" data-aos="fade-up">
      <div class="project-tabs">
        <button *ngFor="let project of projects; let i = index" (click)="selectProject(i)"
          [class.active]="selectedProjectIndex === i" class="tab-btn">
          {{ project.name }}
        </button>
      </div>
    </div>

    <div class="project-display card" data-aos="fade-up" data-aos-offset="200">
      <div class="display-grid" [class.fade-in-up]="animateClass">
        <div class="project-image-wrapper">
          <img [src]="projects[selectedProjectIndex].image" class="project-img-preview"
            alt="projects[selectedProjectIndex].name">
        </div>

        <div class="project-details">
          <div class="detail-header">
            <i class="fas fa-map-marker-alt"></i>
            <p class="location">Located in {{ projects[selectedProjectIndex].location }}</p>
          </div>
          <p class="stats">Property Type: {{ projects[selectedProjectIndex].type }}</p>
          <div class="unit-box">
            <span class="unit-number">Project address: {{ projects[selectedProjectIndex].address }}</span>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="contact-cta" data-aos="flip-up">
    <div class="cta-content">
      <h2 class="ready">Ready to start investing in real estate?</h2>
      <p>Be part of high-performing residential projects with structured returns.</p>
      <a routerLink="/contact" class="btn-cta">Become an Investor</a>
    </div>
  </section>

  <div class="portfolio-header" data-aos="fade-up">
    <h3 class="name-text">Tom Kilko, P.E.</h3>
    <p class="role">Director of Development and Construction</p>
    <div class="contact-info">
      <span class="contact-item"><i class="fas fa-envelope"></i>
        <a href="mailto:admin@artifexbds.com">admin&#64;artifexbds.com</a>
      </span>
      <span class="contact-item"><i class="fas fa-phone"></i>(740) 550-0376</span>
    </div>
  </div>

</div>