@import 'aos/dist/aos.css';

:root {
    --color-blue: #0F2B3F;
    --color-white: #F1F1F1;
    --color-orange: #F83C3C;
    --color-gray: #333333
}

@font-face {
    font-family: 'Mont';
    src: url(../public/fonts/Mont-Regular.ttf);
}

* {
    font-family: 'Mont';
    margin: 0;
    padding: 0;
    outline: 0;
    appearance: none;
    border: 0;
    text-decoration: none;
    list-style: none;
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}